body {
  text-align: center;
  font-family: Helvetica;
  background: rgb(230, 230, 230);
}

#element-container {
  width: 980px;
  padding: 30px;
  background: white;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.bubble {
  width: 30px;
  height: 30px;
  background: url('./bubble.png') 0 0 no-repeat transparent;
  background-size: contain;
  opacity: 0.2;
  float: left;
  transition: 0.3 ease-out opacity;
  -moz-transition: 0.3 ease-out opacity;
  -webkit-transition: 0.3 ease-out opacity;
  position: relative;
}

.bubble.active {
  opacity: 1;
}

.bubble>span {
  position: absolute;
  top: 0;
  left: 0;
}


